* {
    margin: 0px;
    padding: 0px;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;
    color: #fff;
    font-family: "Microsoft YaHei";
}

a.demo:before,
a.demo:after {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0;
    width: 0;
}

a.demo:before {
    left: 0;
}

a.demo:after {
    right: 0;
}

a.demo:hover:before,
a.demo:hover:after {
    width: 50%;
}

a.demo:before,
a.demo:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.h-1-3 {
    padding-left: 500px;
    padding-top: 65px;
    display: flex;
}

.h-1-3 span {
    font-size: 20px;
}

span {
    font-family: "Microsoft YaHei";
}

#header {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#h-1-1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 150px;
}

.h-1-2 img {
    padding-right: 200px;
    padding-top: 40px;
    height: 80px;
    width: auto;
}

.f-1 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.f-1-1 {
    position: absolute;
    z-index: -1;
    height: 700px;
    width: 100%;
}

.f-1-2 {
    position: absolute;
    z-index: 0;
    padding-top: 225px;
}

.f-1-3 {
    position: absolute;
    z-index: 0;
    color: #fff;
    padding-top: 625px;
    font-family: "Microsoft YaHei";
    font-size: 20px;
}

.f-2 {
    background-color: #000;
    width: 100%;
    height: 240px;
    display: flex;
}

.fleft {
    width: 50%;
    padding-left: 200px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.fright {
    width: 50%;
    padding-top: 30px;
}

.f-2-1 {
    color: #fff;
    font-size: 28px;
}

.f-2-2 {
    color: #fff;
    padding-top: 30px;
    padding-left: 100px;
    font-size: 20px;
}

.icon {
    padding-top: 20px;
}

.icon img {
    padding-top: 20px;
    padding-left: 30px;
}

.beianhao {
    padding-top: 35px;
    padding-left: 65px;
}

.beianhao span {
    color: #fff;
}

.topimg {
    z-index: -1;
}

.topimg img {
    height: auto;
    width: 65%;
}

.content {
    height: 4400px;
}

.backcolor {
    width: 70%;
    height: 2500px;
    left: 15%;
    top: 175px;
    z-index: 0;
    position: absolute;
    background-color: #fff;
    opacity: 0.85;
    margin: 0 auto;
    border-radius: 2em;
}

.main {
    width: 70%;
    height: 2000px;
    left: 15%;
    top: 175px;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    border-radius: 2em;
}

.title h1 {
    padding-top: 50px;
    padding-left: 20px;
}

.date p {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Arial Narrow', sans-serif;
    color: rgb(102, 102, 102);
}

.word {
    width: 35%;
    padding-left: 10%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.word span {
    font-size: 18px;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #000;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: lighter;
}

.spanmargin {
    padding-top: 70px;
}

.padding {
    padding-top: 100px;
}

.pic {
    position: absolute;
    left: 50%;
    z-index: 2;
}

.imgbox {
    position: absolute;
    width: 50%;
    left: 50%;
    z-index: 2;
    display: flex;
}

.gifbox {
    position: absolute;
    width: 680px;
    height: 500px;
    left: 50%;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.gifbox img {
    width: 333px;
    height: 243px;
    border-radius: 0.5em;
}

.hr3 {
    height: 3px;
    border: none;
    border-top: 2px solid rgb(153, 153, 153);
    width: 1375px;
    z-index: 1;
    margin: 0 auto;
}

.c-f {
    padding-top: 50px;
}